#applications{
    margin-left: 5%;
}

#dashboard-content{
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 0 3%;
}

.card-header{
    text-align: left;
    display: flex;
}

.welcome-name{
    margin-top: 1.5%;
}
@media only screen and (max-width: 780px){
    #dashboard-content{
        display: flex;
        flex-direction: column;
        padding: 3%;
    }
     
    #applications{
        margin-top: 5%;
    }

    #upcoming-events{
        width: 90%;
    }

}