form{
    width: 400px;
    margin: 8% auto;
    text-align: center;
    display: flex;
    flex-direction: column; 
    border: solid 1px #007bff;
    border-radius: 3%;
    padding: 5%;
} 



@media only screen and (max-width: 900px){
    form{
        width: 60%;
    }
}