form{
    width: 400px;
    margin: auto;
    text-align: center;
    padding: 40px;
    display: flex;
    flex-direction: column; 
} 

#login-link{
    width: 50%;
    
}

@media only screen and (max-width: 600px){
    form{
        width: 80%;
    }
}
